<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/products.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/font.css">
    <title>연극</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
</head>
<body>

<header>
    <nav id="nav1">
        <a href="/main"><img id="logo" src="/image/icon/로고.png" width="55%" ></a>
        <ul>
            <li><a href="/categories/concertlist">콘서트</a></li>
            <li><a href="/categories/musicallist">뮤지컬</a></li>
            <li><a href="/categories/actlist">연극</a></li>
            <li><a href="/categories/classiclist">클래식</a></li>
            <li><a href="/categories/exhibitlist">전시회</a></li>
        </ul>

    </nav>
    <div>
        <a href="/mypagemain"><img id="my" src="/image/icon/마이페이지.png" width="50" padding="10 0 0 0"></a>
        <a href="/support"><img id="callcenter" src="/image/icon/물음표.png" width="45" padding="10 0 0 0"></a>
        <a th:href="${session.customer != null ? '/logout' : '/loginpage'}">
            <img id="login" th:src="${session.customer != null ? '/image/icon/로그아웃.png' : '/image/icon/로그인.png'}" width="45">
        </a>
    </div>
</header>
<main>

    <div class="container">
        <button class="prevBtn">&lt;</button>
        <div class="item_box">
            <div class="item"><a href="/act/theaterHerzKlangInfo"><div class="intext"> <span>헤르츠클란</span><p>2024.01.16 ~ 2024.04.07 링크아트센터드림</p> </div><img src="/image/category/act_mini/연극 〈헤르츠클란〉.jpg"></a></div>
            <div class="item"><a href="/act/theaterBlossom"><div class="intext"> <span>벚꽃동산</span><p>2024.06.04 ~ 2024.07.07 LG아트센터 서울</p> </div><img src="/image/category/act_mini/사이먼 스톤 연출 ‘벚꽃동산’.jpg"></a></div>
            <div class="item"><a href="/act/theaterHandSpan"><div class="intext"> <span>한뼘사이</span><p>2021.03.19 ~ 2024.05.31 라온아트홀</p> </div><img src="/image/category/act_mini/연극 한뼘사이.jpg"></a></div>
            <div class="item center"><a href="/act/theaterBaskervilles"><div class="intext"> <h3>바스커빌</h3><span>셜록홈즈 미스터리</span><p>2024/04/05 ~ 2024/04/28 예그린씨어터</p></div><img src="/image/category/act_mini/연극 〈바스커빌 셜록홈즈 미스터리〉.jpg"></a></div>
            <div class="item"><a href="/act/theaterCloserInfo"><div class="intext"> <span>클로저</span><p>2024.04.23 ~ 2024.07.14 플러스씨어터</p> </div><img src="/image/category/act_mini/연극 〈클로저〉.jpg"></a></div>
            <div class="item"><a href="/act/theaterHerzKlangInfo"><div class="intext"> <span>헤르츠클란</span><p>2024.01.16 ~ 2024.04.07 링크아트센터드림</p> </div><img src="/image/category/act_mini/연극 〈헤르츠클란〉.jpg"></a></div>
            <div class="item"><a href="#"><div class="intext"> <span>벚꽃동산</span><p>2024.06.04 ~ 2024.07.07 LG아트센터 서울</p> </div><img src="/image/category/act_mini/사이먼 스톤 연출 ‘벚꽃동산’.jpg"></a></div>
        </div>
        <button class="nextBtn">&gt;</button>
    </div>



    <h1><i>LIST ALL</i></h1>
    <div id="list">

        <div class="product"><a href="/act/musicalTheaterCarolInfo"><ul class="goodsname"><span class="truncate">캐롤</span><li>연극/대학로</li></ul> <div class="time"><span>2024/04/05 ~ 2024/04/28</span></div>
            <img src="/image/category/act/음악극 〈캐롤〉.jpg"/>
            <div class="between">
                <ul class="goodscontent"> 등급  <li>15세 이상</li></ul>
                <ul class="goodscontent"> 공연장소  <li>예그린씨어터 </li></ul>
                <ul class="goodscontent"> 관람시간  <li>100분</li></ul>
                <ul class="goodscontent"> 가격  <li>50000원</li></ul>
            </div>
        </a>
        </div>
        <div class="product"><a href="/act/theaterHeungSinSoInfo"><ul class="goodsname"><span class="truncate">수상한 흥신소</span><li>연극/대학로</li></ul> <div class="time"><span>OPEN RUN</span></div>
            <img src="/image/category/act/연극 수상한 흥신소.jpg"/>
            <div class="between">
                <ul class="goodscontent"> 등급  <li>만 13세 이상</li></ul>
                <ul class="goodscontent"> 공연장소  <li>소극장 </li></ul>
                <ul class="goodscontent"> 관람시간  <li>100분</li></ul>
                <ul class="goodscontent"> 가격  <li>35000원</li></ul>
            </div>
        </a>
        </div>
        <div class="product"><a href="/act/theaterHangOverInfo"><ul class="goodsname"><span class="truncate">행오버</span><li>연극/대학로</li></ul> <div class="time"><span>2022/   01/21 ~ 2024/04/30</span></div>
            <img src="/image/category/act/연극 행오버.jpg"/>
            <div class="between">
                <ul class="goodscontent"> 등급  <li>16세 이상</li></ul>
                <ul class="goodscontent"> 공연장소  <li>정극장 </li></ul>
                <ul class="goodscontent"> 관람시간  <li>90분</li></ul>
                <ul class="goodscontent"> 가격  <li>40000원</li></ul>
            </div>
        </a>
        </div>
        <div class="product"><a href="/act/theaterInHellInfo"><ul class="goodsname"><span class="truncate">지옥에서</span><li>연극/대학로</li></ul> <div class="time"><span>2024/04/19 ~ 2024/04/28</span></div>
            <img src="/image/category/act/연극 〈지옥에서〉.jpg"/>
            <div class="between">
                <ul class="goodscontent"> 등급  <li>만 10세이상 관람가</li></ul>
                <ul class="goodscontent"> 공연장소  <li>대학교예술극장</li></ul>
                <ul class="goodscontent"> 관람시간  <li>160분</li></ul>
                <ul class="goodscontent"> 가격  <li>55000원</li></ul>
            </div>
        </a>
        </div>
        <div class="product"><a href="/act/theaterRainbowInfo"><ul class="goodsname"><span class="truncate">넓은 하늘의 무지개</span><li>연극/대학로</li></ul> <div class="time"><span>202/12/18 ~ 2023/02/19</span></div>
            <img src="/image/category/act/연극 〈넓은 하늘의 무지개를 보면 내 마음은 춤춘다〉.jpg"/>
            <div class="between">
                <ul class="goodscontent"> 등급  <li>만 13세 이상 관람가</li></ul>
                <ul class="goodscontent"> 공연장소  <li>달오름극장 </li></ul>
                <ul class="goodscontent"> 관람시간  <li>100분</li></ul>
                <ul class="goodscontent"> 가격  <li>55000원</li></ul>
            </div>
        </a>
        </div>
        <div class="product"><a href="/act/theaterCloserInfo"><ul class="goodsname"><span class="truncate">클로저</span><li>연극/대학로</li></ul> <div class="time"><span>2024/04/23 ~ 2024/07/14</span></div>
            <img src="/image/category/act/연극 〈클로저〉.jpg"/>
            <div class="between">
                <ul class="goodscontent"> 등급  <li>19세 이상</li></ul>
                <ul class="goodscontent"> 공연장소  <li>플러스씨어터 </li></ul>
                <ul class="goodscontent"> 관람시간  <li>110분</li></ul>
                <ul class="goodscontent"> 가격  <li>50000원</li></ul>
            </div>
        </a>
        </div>
        <div class="product"><a href="/act/theaterHerzKlangInfo"><ul class="goodsname"><span class="truncate">헤르츠클란</span><li>연극/대학로</li></ul> <div class="time"><span>2024/01/16 ~ 2024/04/07</span></div>
            <img src="/image/category/act/연극 〈헤르츠클란〉.jpg"/>
            <div class="between">
                <ul class="goodscontent"> 등급  <li>14세 이상 관람가</li></ul>
                <ul class="goodscontent"> 공연장소  <li>링크아트센터드림 </li></ul>
                <ul class="goodscontent"> 관람시간  <li>100분</li></ul>
                <ul class="goodscontent"> 가격  <li>66000원</li></ul>
            </div>
        </a>
        </div>

        <div class="product"><a href="/act/theaterPSpartnerInfo"><ul class="goodsname"><span class="truncate">나의PS파트너</span><li>연극/대학로</li></ul> <div class="time"><span>OPEN RUN</span></div>
            <img src="/image/category/act/연극 나의PS파트너.jpg"/>
            <div class="between">
                <ul class="goodscontent"> 등급  <li>19세 이상 관람가</li></ul>
                <ul class="goodscontent"> 공연장소  <li>마루아트홀 </li></ul>
                <ul class="goodscontent"> 관람시간  <li>90분</li></ul>
                <ul class="goodscontent"> 가격  <li>40000원</li></ul>
            </div>
        </a>
        </div>
        <div class="product"><a href="/act/theaterBaskervilles"><ul class="goodsname"><span class="truncate">바스커빌</span><li>연극/대학로</li></ul> <div class="time"><span>2024.03.28 ~ 2024.06.09</span></div>
            <img src="/image/category/act/연극 〈바스커빌 셜록홈즈 미스터리〉.jpg"/>
            <div class="between">
                <ul class="goodscontent"> 등급  <li>8세 이상(초등학생 이상)</li></ul>
                <ul class="goodscontent"> 공연장소  <li>PICKET24아트원</li></ul>
                <ul class="goodscontent"> 관람시간  <li>110분</li></ul>
                <ul class="goodscontent"> 가격  <li>60000원</li></ul>
            </div>
        </a>
        </div>
        <div class="product"><a href="/act/theaterBlossom"><ul class="goodsname"><span class="truncate">벚꽃동산</span><li>연극/대학로</li></ul> <div class="time"><span>2024.06.04 ~ 2024.07.07</span></div>
            <img src="/image/category/act/사이먼 스톤 연출 ‘벚꽃동산’.jpg"/>
            <div class="between">
                <ul class="goodscontent"> 등급  <li>중학생 이상 관람가</li></ul>
                <ul class="goodscontent"> 공연장소  <li>LG아트센터 서울</li></ul>
                <ul class="goodscontent"> 관람시간  <li>130분</li></ul>
                <ul class="goodscontent"> 가격  <li>40000원</li></ul>
            </div>
        </a>
        </div>
        <div class="product"><a href="/act/theaterHandSpan"><ul class="goodsname"><span class="truncate">한뼘사이</span><li>연극/대학로</li></ul> <div class="time"><span>2021.03.19 ~ 2024.05.31</span></div>
            <img src="/image/category/act/연극 한뼘사이.jpg"/>
            <div class="between">
                <ul class="goodscontent"> 등급  <li>12세이상</li></ul>
                <ul class="goodscontent"> 공연장소  <li>라온아트홀 </li></ul>
                <ul class="goodscontent"> 관람시간  <li>100분</li></ul>
                <ul class="goodscontent"> 가격  <li>50000원</li></ul>
            </div>
        </a>
        </div>
    </div>


</main>
<footer>
    <div class="footer-side">
        <div id="foot-top"> <a href="#" >이용약관 </a><a href="#">단체 문의</a><a href="#" >공연 등록 문의</a><a href="#" >개인정보처리방침</a><a href="#" >청소년보호정책</a>
        </div>
        <div id="footer-left">
            <span> <h4>고객센터 1600-1588(유료)</h4></span>
            <span> <h4>이메일 picket@ezn.co.kr</h4></span><br>
            <span> 평일(월~금) 10:00 ~ 17:30</span><br>
            <span> 주말 및 공휴일 휴무</span>
        </div>

        <img src="/image/icon/피켓로고검정.png" width="10%">
        <div>
            <span>대표자 TeamProject |</span><span> 서울 강남구 풍성로 62길 대우빌딩</span> <span>| 사업자 등록번호 154-15-11562</span ><span>| 통신판매업신고 : 제2024-0001호</span><br>
            <span>호스팅서비스사업자 : Picket(주) </span><span>&copy;PicketCorp.Allright Reserved</span>
        </div>
    </div>
</footer>
<script th:inline="javascript">
const Btn = document.querySelector("#login")

if(Btn.getAttribute("src") === '/image/icon/로그아웃.png'){
    Btn.addEventListener("click", function(event){
        if(confirm("로그아웃 하시겠습니까?")){
            alert("로그아웃되었습니다.");
        }
        else{
            event.preventDefault();
        }
    });
}
</script>
<script src="../js/carouselTest.js"></script>
</body>
</html>