

  button{
    cursor: pointer;
  }
  .top-main-bg{
    background-color:#000000;
  }



/* 네이게이션 끝 */

main{

  background-color:rgb(255, 255, 255);
  min-height: 1000px;
  height: 100%;
}

/* 제목 */
.mypagemain_titlename h2{
  font-family: 'wind';
  font-size:45px;
  margin: 40px 35% 0%;
  padding:2% 0;
  text-align: center;

}

.mypagemain_asta{
  display:flex;
  justify-content: space-between;
}

/* 사이드바 */
  .mypagemain_menu ::before{
    font-family: 'Material Icons';
    font-size: 1.5em;
    float: left;
    clear: left;
  }

  #mypagemain_expand-menu {
    display: none;
  }
  #mypagemain_expand-menu:checked ~ ul {
    display: block;
    height: auto;
  }
  .mypagemain_menu {
    display: block;
    width:12%;
    height: 400px ;
    background-color: #000000;
    margin-top: 218px;
    color: #fff;
    text-align:center;
    padding: 0%;
    box-sizing: border-box;
    position:absolute;
  }
  .mypagemain_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .mypagemain_menu a, .mypagemain_menu > label {
    display: block;
    font-family: 'sdgothic';
    font-weight: 800;
    left: 50px;
    font-size: 30px;
    height: 25px;
    padding: 8px 8px 14px 8px;
    margin: 28px 0;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
  }
  .mypagemain_menu ul li:hover, .mypagemain_menu > label:hover, .mypagemain_menu a:hover {
    background-color:#fff;
    color: #000000;

  }


/* 사이드바 끝 */

/* 테이블 박스 */

  .mypagemain_listmain{
    flex:1;
    display:flex;
    justify-content: center;
  }
  .mypagemain_listmain > table{

    border-collapse: collapse;
    text-align:center;

    width:60%;
    height:100%;
  .mypagemain_listmain td :hover{
    background-color:gray;
  }
  }
  .mypagemain_tablehead , .mypagemain_tablebody {
    border-bottom:2px solid gray;
    font-weight: bold;
  }
  .mypagemain_tablehead:hover{
    cursor:pointer;
  }

  .mypagemain_tablebody a{
    color:#000000;
    font-size:20px;
  }
  .mypagemain_listmain td{
    padding:2% 0%;
    font-size:20px;
  }
  .mypagemain_checkbox_width, .point_col_name{
    padding:1% 3%;
  }
  .mypagemain_tablehead{
    background-color:#000000;
    padding:20px;
    color:white;
    font-size:18px;
  }


  .mypagemain_ticketnum button{
    width:20%;

  }
  .mypagemain_spacetable{
    display:block;
    text-align:center;
    width:30%;
    margin: 3% auto;
    border-bottom:0px;
    padding-bottom:7%;
  }
  .mypagemain_pageleft, .mypagemain_pageright{
    padding:5px 10px;
    border-radius:10px;
    border:0;
  }
  .mypagemain_pageleft, .mypagemain_pageright{
      padding:5px 10px;
      border-radius:10px;
      border:0;
    }
  .mypagemain_pagenum{
    padding:5px 10px;
    border-radius:10px;
    border:0;
    background-color:#fff;
    font-family:'wind';
    font-weight:bold;
  }

  .mypagemain_pagenum{
   text-align:center;
  }
  .mypagemain_tablesum{

    background-color:rgba(90, 91, 92, 0.774); opacity: 0.8;
  }

  .mypagemain_tablebutton{
    text-align:right;
  }
  .mypagemain_refundbutton{
    margin: 40px 0 0 1400px;
  }

  .mypagemain_buttons{
    font-family: 'wind';
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 980px;
    border: 0;
    background-color: #ffffff;
    text-align: right;
    color: #000000;
    border: 2px solid #000000;
  }

  .mypagemain_buttons:hover{
    background-color:#000000;
    color:#ffffff;
  }
  .mypagemain_select_box{
    margin:0 0 10px 381px;
  }
  .mypagemain_select_box label{
    font-family:'wind';
    font-weight:bold;
    font-size:20px;
  }
  .mypagemain_select_tr{
    background-color:#fff;
  }
  .mypagemain_select{
    font-family:'wind';
    font-weight:bold;
    width:70px;
    height:35px;
  }
  #QA_search{
    height:30px;
    width:300px;
  }
  .mypagemain_select_th div{
    font-family:'wind';
    font-weight:bold;
    font-size:20px;
    padding:2%;
    text-align:left;
  }
  .QA_select_th{
    text-align:left;
  }


  .mypa{
    display:flex;
    justify-content: center;
  }
  .mypageplace{
    background-color: #121212;
    margin-top:8px;
    width:100%;
    height:200px;
    display:flex;
    font-size:20px;
    justify-content: unset;
    color:#ffffff;
  }
  .mypageimgtext{
    display:flex;
    margin-left:420px;

    align-items: center;
    width:30%;
  }
  #userimage{
    background-color:rgb(87, 118, 153);
    width:80%;

  }
  .mypagelist{
    display:flex;
    font-family:'wind';
    font-size:25px;
    align-items:center;
  }

  /* 사진 hover 확대 */
  .mypagelist img{
    transition: all 0.2s linear;
  }
  .a:hover img{
    transform: scale(1.2);
  }
  .b:hover img{
    transform: scale(1.2);
  }
  .c:hover img{
    transform: scale(1.2);
  }
  .d:hover img{
    transform: scale(1.2);
  }
  /* 사진 hover 확대 */

  .mypagelist a {
  text-align:center;
  }
  .mypagelist div{
  margin: 0 10px;
  font-size:22px;
  }
  .mypagelist_right_border{
    text-align:center;
    padding:0px 15px;
  }
  .mypagelist_last_right_border{
    text-align:center;
    padding:0px 20px;
  }
  .mypagelist_count{
    font-size:15px;
  }

  #userimage > img{
    border-radius: 50%;
    width:80%;

  }
  .usernicknamebox{
    width:300px;

  }
  .usernickname{
    font-family: 'wind';
    font-weight:800;
    font-size:80px;
  }
  .mypagekind{
    display:flex;
    justify-content: center;
    align-items: center;

  }
.mypagelist a{
    text-decoration:none;
    color:inherit;
}

div#chargeButton{
    display:inline-block;
    margin:1.5% 10% 5% 75%
}

  /* 푸터 */

    /* 글자 줄이는 스타일*/
.truncate_leaf {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
max-width: 200px;
}



