body{
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #fff;
}
header{
  position: fixed;
  top: 0;
  z-index: 100;
}
/* .container{
  position: relative;
  top:3%;
  width:100%;
  z-index: 60;
  margin:0 auto 0 auto;
  padding: 1% 0 4% 2%;
} */
.clear{
  clear:both;
}
main{
  width:100%;
  height:auto;
}
/* .item{
  width: 504px;
  height: 454px;
  display: inline-block;
  border:2px solid black;
  box-shadow:0 0 5px black;
  overflow: hidden;
} */



button{
  cursor: pointer;
}
/* .customPrevBtn{
  display: inline;
  position: absolute;
  top:46%;
  left:0%;
  z-index: 99;
  width: 5%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0);
  border:none;
  font-size: 75px;
  color: rgb(255, 255, 255);
}
.customNextBtn{
  display: inline;
  position: absolute;
  top:40%;
  right:1.5%;
  z-index: 99;
  width: 5%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border: none;
  font-size: 75px;
  color: rgb(255, 255, 255);
} */

main h1{
  text-align: center;
  margin-bottom: 20px;
  font-size: 60px;
  border-bottom: 1px solid rgb(230, 230,230);
}
#list{
  margin: 3% 5%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  backface-visibility: visible;
}

.product{
  border: 1px solid  rgb(230, 230,230);
  border-radius: 10px;
  width:432px;
  height: auto;
  padding-top: 30px;
  margin-bottom: 3%;
  /* margin:1% 10px; */
  transition: 0.5s;
}
.product a{
    color: #000;
    text-decoration: none;
    }
.product:hover{
  transform: scale(1.05);
  border: 1px solid rgb(0, 0, 0);
  /* background:radial-gradient(circle,#f6f6e8,#f6f6e8,#f6f6e8); */
 /* background-color: rgb(194, 194, 194); */
}

.goodsname{
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin:0 42px;
  font-size: 30px;
  padding-bottom: 10px;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  display: inline-block;
  font-size:30px;
  font-weight:bolder;
}


.goodsname li{
  font-size: 15px;
}
.product span{
  /*font-size: 20px;*/
  text-align: start;
}
.time{
text-align: left;
padding-left: 45px;
}

.product img{
  width : 80%;
  padding-top: 10px;
}

.goodscontent{
  padding: 5px 0px;
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  font-weight: bold;
}
.goodscontent li{
  font-weight: normal;
}

.between{
  padding: 20px 45px;
}




/*carousel테스트*/

body{
  overflow-x: hidden;
}

.container{
  width: 1910px;
  height: 500px;
  margin-top: 70px;
  position: relative;
}

.item{
  width: 400px;
  height: 400px;
  margin-right: 30px;
  border-radius: 10px;
  transition: all 0.3s;
  position: relative;
}


.item.center{
  width: 450px;
  height: 450px;
  box-shadow: 0 0 15px 5px rgb(114, 114, 114);
}

.item:nth-last-child(2), .item:nth-child(2){
  opacity: 0.5;
}

.item a img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.prevBtn{
  height: 100%;
  width: 5%;
  color: rgba(59, 57, 57, 0.623);
  background-color: rgba(255, 255, 255, 0);
  font-size: 75px;
  border: none;
  z-index: 100;
  position: absolute;
  left: 0;
}
.nextBtn{
  float: right;
  height: 100%;
  width: 5%;
  color: rgba(59, 57, 57, 0.623);
  background-color: rgba(255, 255, 255, 0);
  font-size: 75px;
  border: none;
  z-index: 100;
  position: absolute;
  right: 0;
}

.item_box{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: #ffffff00;
  z-index: 99;
}

.item_box{
  left: -780px;
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  z-index: 50;
  overflow: hidden;
  width: 3500px;
  transition: all 0.3s;
}


.intext{
  font-family: 'wind';
  font-weight: 500;
  position: absolute;
  bottom: 5%;
  color:rgb(255, 255, 255);
  font-size: 40px;
  width: 100%;
  text-align: center;
}

.intext p{
  font-size: 15px;
  line-height: 34px;
}

.intext h3{
    font-family: none;
}

